html {
  background: url(smiley.jpeg);
  background-position: 100px 5px;
  background-size: 300px 100px;
  background-repeat: repeat-x;
  background-attachment: fixed;
}

h1 {
  color: red;
}

/* #happy-cake {
  background-color: white;
} */

div h1 {
  color: rgb(0, 255, 255);
}

div h2 {
  color: pink;
}

.module {
  background-color: aqua;
}

/* Element */
div > p {
  background-color: blanchedalmond;
}

/* Class & Id */
.name #instructor {
  background-color: blue;
}

di {
  color: red;
}

.general-sibling ~ p {
  color: blue;
}

/* unvisited link */
a:link {
  color: red;
}
/* visited link */
a:visited {
  color: black;
}
/* mouse over link */
a:hover {
  color: aqua;
}
/* selected link */
a:active {
  background-color: blueviolet;
}

a.highlight:hover {
  color: #ff0000;
  font-size: 22px;
}

:nth-child(3) {
  color: blue;
}

p::first-line {
  color: #ff0000;
}

p.intro::first-letter {
  color: #ff0000;
  font-size: 200%;
}

h1::before {
  content: url(smiley.jpeg);
}

h1::after {
  content: url(smiley.jpeg);
}

a[target="_blank"] {
  background-color: aqua;
}

[title~="flower"] {
  width: 30px;
  height: 30px;
}

[class^="top"] {
  color: yellow;
}

.box-model {
  /* border-top: 5px solid red; */
  border: 5px solid red;
  padding: 50px;
  margin: 50px;
}
